artifacts
tumor_env
checkpoint
logs
train.log
models

__pycache__/
*.so
build/
dist/
*.egg-info/

venv/
env/
.venv/
.env

.pytest_cache/
.ipynb_checkpoints/
.json
gcp-key.json
.vscode/
.idea/

.DS_Store
Thumbs.db

*.whl
coverage.xml
htmlcov/
